body {
	background-color: #F2F6D0;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#btnScrape{
	margin-right:5px;
}
#articles {
	border: 1px solid black;
	/* box-shadow: 5px 10px #888888; */
	display: inline-block;
	overflow: auto;
	width: 100%;
	height: 700px;
}

#notes {
	float: right;
	width: 30%;
}

textarea,
input {
	display: block;
	width: 100%;
	background-color: #FCF5C7;
}

input {
	height: 36px;
	font-size: 24px;
}

textarea {
	height: 200px;
	font-size: 18px;
}

/* For width 400px and larger: */
@media only screen and (max-width: 700px) {
    body { 
        background-size:90% auto;
    }
}